body {
    background-image: url('../images/mk_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

@media (max-width: 991.98px) {
    .m-sm {
        margin-bottom: 1.5rem;
    }
    .lightning_hide {
        display: none;
    }
}